* {
  box-sizing: border-box;
}

body {
  height: 1000px;
  background-color: antiquewhite;
  position: relative;
}
body nav.navbar {
  width: 100%;
  position: fixed;
  display: flex;
  z-index: 10;
}
body nav.navbar #navbarSupportedContent #navUl {
  display: flex;
  align-items: center;
  justify-content: center;
}
body nav.navbar #navbarSupportedContent #navUl #nav-productsSelect {
  margin-left: 750px;
}
body div.users {
  display: flex;
}
body div.users .btn-outline-info {
  margin-right: 0.5rem;
  padding-top: 0.015rem;
  padding-bottom: 0.015rem;
}
body div.user-login {
  position: relative;
  z-index: 10;
}
body #user-login-Modal {
  width: 50rem;
  height: 50rem;
}
body #user-login-Modal #cancle {
  background-color: red;
}
body div.productsSelect {
  top: 70px;
  width: 100%;
  height: 100%;
  display: flex;
}
body div.productsSelect div.selects {
  width: 15%;
  height: 100%;
  border: 5px solid black;
  border-color: blue;
  position: relative;
  display: flex;
  flex-direction: column;
  top: 70px;
  z-index: 0;
}
body div.productsSelect div.selects select {
  margin-top: 0.5rem;
}
body div.productsSelect div.selects #searhProducts {
  margin-top: 0.5rem;
}
body div.productsSelect div.selects #limit {
  margin-top: 0.5rem;
}
body div.productsSelect div.items {
  top: 70px;
  width: 80%;
  height: 100%;
  border: 5px solid black;
  border-color: red;
  position: relative;
}
body div.productsSelect div.items div.accordion {
  margin-left: 2.5rem;
  height: 100%;
  width: 95%;
  border: 5px solid black;
  border-color: purple;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body div.productsSelect div.items div.accordion ul.pagination {
  margin-bottom: 0.5rem;
}
body div.productsSelect div.items div.accordion table {
  word-wrap: break-word;
  table-layout: fixed;
}
body div.createProduct {
  top: 70px;
  width: 100%;
  height: 100%;
}
body div.createProduct div.container {
  width: 100%;
  height: 100%;
  border: 5px solid black;
  border-color: blue;
  position: relative;
  display: flex;
  flex-direction: column;
  top: 70px;
}
body div.createProduct div.container #reset {
  width: 7.5%;
  height: 38px;
  font-size: 0.75rem;
  background-color: gray;
  margin-bottom: 0.5rem;
}
body div.createProduct div.category-check {
  display: flex;
}
body div.createProduct div.category-check div.form-check {
  margin: 0.5rem;
}
body div.createProduct #productImageUrlLable {
  margin-top: 0.5rem;
}
body div.createProduct div.form-text {
  color: red;
}
body div.createProduct div.create-success {
  margin-top: 0.5rem;
  color: green;
}
body div.createProduct div.create-failed {
  color: red;
}
body div.updateProduct {
  top: 70px;
  width: 100%;
  height: 100%;
}
body div.updateProduct div.container {
  width: 100%;
  height: 100%;
  border: 5px solid black;
  border-color: blue;
  position: relative;
  display: flex;
  flex-direction: column;
  top: 70px;
}
body div.updateProduct div.container #reset-update {
  width: 7.5%;
  height: 38px;
  font-size: 0.75rem;
  background-color: gray;
  margin-bottom: 0.5rem;
}
body div.updateProduct div.category-check {
  display: flex;
}
body div.updateProduct div.category-check div.form-check {
  margin: 0.5rem;
}
body div.updateProduct #productImageUrlLable {
  margin-top: 0.5rem;
}
body div.updateProduct div.form-text {
  color: red;
}
body div.updateProduct div.update-success {
  margin-top: 0.5rem;
  color: green;
}
body div.updateProduct div.update-failed {
  color: red;
}
body div.updateProduct div.delete-success {
  color: green;
}
body div.updateProduct div.updateProduct-btn-container {
  display: flex;
}
body div.updateProduct div.updateProduct-btn-container #updateProductDelete {
  background-color: red;
  margin-left: 0.5rem;
}/*# sourceMappingURL=style.css.map */